# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
out/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Entity Framework
*.db
*.db-journal
Migrations/

# OS
Thumbs.db
Desktop.ini
.DS_Store